asgiref
asttokens
crispy-bootstrap5
decorator
Django
django-crispy-forms
exceptiongroup
executing
ipython
jedi
matplotlib-inline
packaging
parso
pexpect
pillow
prompt_toolkit
psycopg2-binary
ptyprocess
pure_eval
Pygments
pytils
six
sqlparse
stack-data
traitlets
typing_extensions
wcwidth
