{% extends 'catalog/base.html' %}
{% block content %}
<form method="post" class="row" enctype="multipart/form-data">
    <div class="col-6">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                Продукт
            </div>
            <div class="card-body">
            {{ form.as_p }}
            </div>
            <button class="btn btn-primary" type="submit">
                {% if object %}
                Сохранить изменения
                {% else %}
                Создать
                {% endif %}
            </button>
        </div>
    </div>
    {% if object %}
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                Версия
            </div>
            <div class="card-body">
            {{ formset.management_form }}
            {% for form in formset.forms %}
            {{ form.as_p }}
            <hr>
            {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</form>


{% endblock %}